[[source]]

url = "https://pypi.python.org/simple"
#verify_ssl = true
name = "pypi"

[packages]

flask = "*"
gunicorn = "*"
python-telegram-bot = "*"
telebot = "*"

[requires]

python_version = "3.7.7"
