aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.7.0
bcrypt==3.1.7
blinker==1.4
bson==0.5.8
CacheControl==0.12.6
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
facebook-sdk==3.2.0rc0
firebase==3.0.1
firebase-admin==3.2.1
Flask==1.1.1
Flask-Admin==1.5.4
Flask-BabelEx==0.9.3
Flask-Bcrypt==0.7.1
Flask-Dance==3.0.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-mongoengine==0.9.5
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-PyMongo==2.3.0
Flask-Security==3.0.0
Flask-Social==1.6.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
foursquare==1!2019.9.11
future==0.18.2
gcloud==0.17.0
gmail==0.6.3
google-api-core==1.15.0
google-api-python-client==1.7.11
google-auth==1.7.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.1.0
google-cloud-firestore==1.6.0
google-cloud-storage==1.23.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
grpcio==1.26.0
gunicorn==20.0.4
heroku==0.1.4
httplib2==0.14.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
jws==0.1.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mongoengine==0.19.0
msgpack==0.6.2
multidict==4.7.5
numpy==1.18.0
oauth2==1.9.0.post1
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.2.0.32
pandas==1.0.1
passlib==1.7.2
Pillow==6.2.1
pipenv==2018.11.26
protobuf==3.11.2
psycopg2-binary==2.8.4
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
PyDrive==1.3.1
PyJWT==1.7.1
pymongo==3.10.0
pyparsing==2.4.6
pyRFC3339==1.1
python-dateutil==2.8.1
python-dotenv==0.10.3
python-firebase==1.2
python-jwt==2.0.1
python-telegram-bot==12.4.2
python-twitter==3.5
pytz==2019.3
PyYAML==5.2
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rsa==4.0
six==1.13.0
speaklater==1.3
SQLAlchemy==1.3.11
SQLAlchemy-Utils==0.36.1
telebot==0.0.3
teleport==0.4.0
telepot==12.7
tornado==6.0.4
uritemplate==3.0.0
urllib3==1.25.6
URLObject==2.4.3
virtualenv==16.7.7
virtualenv-clone==0.5.3
Werkzeug==1.0.0
WTForms==2.2.1
yarl==1.4.2
